body{
    display: flex;
    flex-direction: column;
    background-color: rgb(44, 135, 210);
    align-items: center;
    width: 300px;
    font-size: 14px;
    padding: 1em 1em;
}
h1{
    text-align: center;
    font-weight: 400;
}
.option-container{
    display: flex;
    flex-direction: column;
    margin: 1em 0;
    width: 100%;
    align-items: center;
}
label{
    text-align: center;
    font-size: 1.2rem;
}
.option-container input{
    border-radius: 0.3em;
    margin-top: 5px;
    border: 1px solid #1726dc;
    text-align: center;
    padding: 0.5em 0;
    width: 40%;
}
.mode-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5px;
}
.mode-container button{
    font-size: 1.1rem;
    padding: 0.5em 0;
    border: none;
    border-radius: 0.5em;
    outline: none;
    width: 30%;
}
.mode-container button:hover{
    background-color: darkseagreen;
}
.mode-container button[active]{
    background-image: linear-gradient(15deg, green, #04cd04);
}

#save-button{
    font-size: 1.2rem;
    padding: 0.5em 1em;
    background-color: rgb(34,34,34);
    border: none;
    border-radius: 0.5em;
    outline: none;
    color: white;
}
#save-button:hover{
    background-color: orangered;
}
#save-button:active{
    background-color: #6a2302;
}